{% extends "/general/general.html" %}
{% block content %}

    <div class="row min-vh-50">
      <div class="col min-vh-50 insertwidget">
        Column
      </div>
      <div class="col min-vh-50 insertwidget" >
        contenido
      </div>
      <div class="col min-vh-50 insertwidget" >
        Contenido
      </div>
    </div>
    <div class="row min-vh-50">
      <div class="col min-vh-50 insertwidget">
        Column
      </div>
      <div class="col min-vh-50 insertwidget">
        Column
      </div>
      <div class="col min-vh-50 insertwidget">
        Column
      </div>
    </div>

  {% endblock  %}